<h4 class="title">Get Aadhaar Info</h4>
<form id="modifyAadhaarForm" class="form-border">
	<div class="form-row">
	<div class="form-group col-md-3">
		<label for="aadhaar">Aadhaar</label>
		<input type="number" class="form-control" id="aadhaar" name="aadhaar" placeholder="Aadhaar number. 12 digits only" required>
	</div>
	</div>

	<div class="form-row">
	<div class="form-group col-md-2">
		<button type="submit" id="modifyAadhaarSubmit" class="btn btn-primary" accesskey="S">SUBMIT</button>
	</div>
	</div>
</form>
